<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Memory Game</title>
    <link rel="stylesheet" href="../style/main.css" />
  </head>
  <body>
    <div class="container-game">
      <div class="box-game">
        <div class="header-game" id="header_game">
          <h1 class="jogador-name" id="jogador_name"></h1>
          <span class="time" id="time"></span>
        </div>
        <div class="grid-cards">
        </div>
      </div>
    </div>

    <div class="modal-finalizar">
      <div class="modal">
        <div class="modal-body">
          <h1>Parabéns!</h1>
          <h2 class="tempo_game"></h2>
          <h3>Jogar Novamente?</h3>
          <div class="opcoes">
            <span class="btn-jogar">SIM</span>
            <span class="btn-sair">NÃO</span>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script src="../js/main.js"></script>
</html>
